.form {
  margin: 1rem;
  
}

.input-wrapper {
  position: relative;
}

.form-input {
  padding: 0.5em;
  background-color: #fff;
  border: none;
  width: 300px;
  font-size: 1.25rem;
  font-family: inherit;
  border-radius: 50px;
}

.form-input:focus {
  outline: none;
}

.input-wrapper .btn {
  border: none;
  color: #dddbdb;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: inherit;
  user-select: none;
  transition: all 0.2s ease;
  position: absolute;
  padding-right: 1rem;
  top: 13px;
  right: 30px;
} 

.input-wrapper .btn:active {
  transform: scale(0.9);
}

