.form {
  margin: 1rem;
  
}

.input-wrapper {
  position: relative;
}

.form-input {
  padding: 0.8em;
  background-color: #fff;
  border: none;
  width: 300px;
  font-size: 1.25rem;
  font-family: inherit;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form-input:focus {
  outline: none;
}

.input-wrapper .btn {
  padding: 0.8em;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  color: #F56B14;
  background-color: #FBE3DE;
  font-size: 1.25rem;
  font-family: inherit;
  user-select: none;
  transition: all 0.2s ease;
} 

.input-wrapper .btn:active i {
  transform: scale(0.8);
  transition: all 0.2s ease;
}

