.header {
  background-color: #EEE8A9;
  color: #00886B;
  margin: 0;
  height: 250px;
  padding: 4rem 0 2rem;
}

.header-title {
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
  margin: 0;
}

