.recipe-slider-container {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  margin: 4rem auto;
}

@media screen and (min-width: 768px) {
  .recipe-slider-container {
    margin: 5rem auto;
    padding: 2rem;
  }
}