.recipe-container {
  display: flex;
  flex-direction: column;
  background-color: #FBE3DE;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  min-height: auto;
  width: 300px;
  margin: 4rem 1rem;
  overflow: hidden;
}

.recipe-image-wrapper {
  object-fit: contain;
  height: 200px;
  overflow: hidden;
}

.recipe-image img {
  width: 100%;
  
}

.recipe-desc {
  padding: 1.5rem 2rem;
  text-align: left;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  justify-content: space-between;
  width: 100%;
}

.recipe-desc i {
  color: #F56B14;
  font-size: 1.25rem;
  user-select: none;
}

.text-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-type {
  text-transform: capitalize;
}

.recipe-type strong {
  margin-left: 10px;
}

.like-btn {
  cursor: pointer;
}

.like-btn:active {
  transform: scale(0.9);
}

.recipe-title {
  font-size: 2rem;
  margin: 0.5rem 0;
}


.more-btn {
  border-radius: 50px;
  border: none;
  font-family: inherit;
  font-weight: bold;
  background-color: #fff;
  color: #F56B14;
  width: 40px;
  height: 40px;
  transition: all 0.4s ease;
  position: relative;
  margin-left: auto;
  margin-top: 1.5rem;
  text-align: center;
}

.more-btn i {
  font-size: 1rem;
  line-height: 40px;
}

.more-btn:hover {
  background-color: #F56B14;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition:all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
}

.more-btn:active {
  transform: scale(0.95);
  background-color: #f79355;
  transition: all 0.2s ease;
}

.more-btn:hover::after {
  content: 'View Recipe';
  position: absolute;
  font-family: inherit;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}
