@import url('https://fonts.googleapis.com/css2?family=Unna:wght@700&family=Jost:wght@300;400;700&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  height: auto;
  width: 100vw;
  background-color: #fff;
}

h1 {
  font-family: 'Unna', serif;
}

button {
  cursor: pointer;
}

.wrapper {
  text-align: center;
}

